:root {
  --current-cursor: auto;
}

body {
  margin: 0;
  padding: 0;
  font-family: "ModeSeven";
  cursor: var(--current-cursor);
}

a {
  text-decoration: inherit;
  color: inherit;
}

a:hover {
  color: green;
}

@font-face {
  font-family: "ModeSeven";
  src: url("./assets/fonts/ModeSeven.ttf");
}

#canvas {
  display: block;
  margin: 0 auto;
}
